*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header{
    background-color: #FFE3D4;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contain-hdr{
    width: 1280px;
    margin: 0 auto;
}

.contain{
    width: 1200px;
    margin: 0 auto;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.nav-part1{
    display: inline-flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
}

.navbar{
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
}

.navbar li{
    padding: 0 15px;
}

.nav-part2{
    display: inline-flex;
    align-items: center;
}

.icon-lf{
    margin-right: 10px;
}

.photo-profil{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    object-fit: cover;
}

.icon-rg{
    margin-left: 15px;
}

.header-title{
    margin-top: 50px;
    font-weight: bold;
}

.tle1{
    font-size: 20px;
}

.tle2{
    font-size: 60px;
}

.bg-img{
    width: 100%;
    height: 400px;
    background: url('img/canoe.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-left: 40px;
    margin-top: -30px;
}

.bg-prg{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.clr-gray{
    color: rgb(209, 209, 209);
    font-size: 15px;
    padding: 5px 0;
    margin-bottom: 30px;
}

.btn{
    font-weight: bold;
    border-radius: 25px;
}

.btn-white{
    padding: 10px 20px;
    background-color: white;
}

.btn-white:hover{
    background-color: black;
    color: white;
}

.art-tit{
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.art-tit h3{
    font-weight: bold;
    font-size: 30px;
}

.btn-transp{
    padding: 10px 20px;
    border: 2px solid black;
}

.btn-transp:hover{
    background-color: black;
    color: white;
}

.article-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.art-box{
    width: 285px;
}

.art-box h4{
    font-weight: bold;
}

.art-box-prg{
    font-size: 13px;
}

.box1{
    margin-right: 20px;
}

.img-box{
    width: 285px;
    height: 190px;
}

.img-box img{
    width: 100%;
    height: 100%;
}

.ft-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.ft-icon-box{
    display: flex;
}

.ft-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.ft-icon span{
    font-size: 15px;
    margin-left: 5px;
}